@charset "UTF-8";
/* CSS Document */

body{ width:1040px;
height:4220px;
color:white;
background-color:#231F20;

}


h1{font-size:20px;
font-family:Helvetica;
margin-bottom: -15px;
font-weight:100

}

h2{font-size:20px; 	font-family: Helvetica;
border-bottom:thin solid;
width:230px;
font-weight:100




}
h3{ font-family: Helvetica;
margin-left:990px;
font-size:375px;
text-align: right;
margin-top: 15px;
color:#231F20;
-webkit-text-stroke: 1px #F15A29;
}


h4{ font-family: Helvetica;
color:#F15A29;
margin-left:940px;
text-align:right;
margin-top:-440px;
width:470px;
font-size:35px;
border-bottom:thin solid;}

#one{ font-size: 375px;
font-family:Helvetica;
color:#231F20;
text-align:left;
margin-top:100px;
-webkit-text-stroke: 1px #F15A29 ;

}
.p1{ margin-top:-280px;
	margin-left:190px;
	font-size:20px;
	line-height:1.6;
	font-weight:100
}

.title{ color:#F15A29;
border-top:thin solid;
margin-top:0px;
height:15px;
width:450px;
font-family: Helvetica;
font-weight: 500
}

p:hover{color:white;}
p{ color:grey;
font-family:Helvetica;
}
#two{font-family: Helvetica;
margin-left:1199px;
font-size:375px;
text-align: right;
margin-top: 15px;
color:#231F20;
-webkit-text-stroke: 1px #F15A29 ;
}
.title2{color:#F15A29;
border-top:thin solid;
margin-top:-300px;
height:15px;
width:450px;
font-family: Helvetica;
margin-left:722px;
font-weight: 500}
.p2{color:grey;
font-family: Helvetica;
font-size:20px;
text-align: right;
margin-top: 40px;
margin-right:-130px;
line-height:1.6;
font-weight:100;
}
.left{font-size: 375px;
font-family:Helvetica;
color:#231F20;
text-align:left;
margin-top:100px;
-webkit-text-stroke: 1px #F15A29;

}
.p3{margin-top:-280px;
	margin-left:220px;
	font-size:20px;
	line-height: 1.6;
	font-weight: 100}
.title3{color:#F15A29;
border-top:thin solid;
margin-top:0px;
height:15px;
width:450px;
font-family: Helvetica;}

.right{ font-family: Helvetica;
margin-left:1199px;
font-size:375px;
text-align: right;
margin-top: 15px;
color:#231F20;
-webkit-text-stroke: 1px #F15A29;}
.p4{color:grey;
font-family: Helvetica;
font-size:20px;
text-align: right;
margin-top: 40px;
margin-right:-146px;
line-height:1.6;
font-weight: 100

}

.title4{color:#F15A29;
border-top:thin solid;
margin-top:-300px;
height:15px;
width:450px;
font-family: Helvetica;
margin-left:734px;
}
.title8{ color:#F15A29;
border-top:thin solid;
margin-top:-300px;
height:15px;
width:450px;
font-family: Helvetica;
margin-left:730px;
}

.ten{font-family: Helvetica;
margin-left:1000px;
font-size:375px;
text-align: right;
margin-top: 15px;
color:#231F20;
-webkit-text-stroke: 1px #F15A29;}
.p5{color:grey;
font-family: Helvetica;
font-size:20px;
text-align: right;
margin-top: -250px;
margin-right:24px;
line-height:1.6;
font-weight: 100;
}
.title5{
	color:#F15A29;
border-top:thin solid;
margin-top:-300px;
height:15px;
width:450px;
font-family: Helvetica;
margin-left:562px;
}
