@charset "UTF-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:18px;
	width:1010px;
	padding:50px;
	margin:3px;
}

h1{
	text-align: left;
	padding:5px;
	margin:-3px;
	font-size:25px
	
}
h2{ text-align: right;
padding:10px;
margin:5px;
font-size:25px;
}
p{font-family:Helvetica,"Helvetica Neue";
border-top: solid 1px;
border-color:black;
padding:15px;

}
h3{ font-size:65px;
color:black;}
.one{ font-size:40px;
text-align:right;
padding:0px
}
.two{font-size:40px;
text-align:left;
padding:0px;
margin:5px}
.three{
	font-size:40px;
text-align:right;
padding:0px
}
.four{font-size:40px;
text-align:left;
padding:0px;
margin:5px}
.five{font-size:40px;
text-align:right;
padding:0px}
.six{font-size:40px;
text-align:left;
padding:0px;
margin:5px}
.seven{	font-size:40px;
text-align:right;
padding:0px
}
.eight{font-size:40px;
text-align:left;
padding:0px;
margin:5px
}
.nine{font-size:40px;
text-align:right;
padding:0px}
.ten{font-size:40px;
text-align:left;
padding:0px;
margin:5px}